.about-us-wrapper-div {
    display: flex;
    flex-direction: row;
    background-color: #8F8F8F;
    height: 100%;
    width: 100%;
}

.about-us-about-div {
    display: flex;
    flex-direction: column;
    background-color: #8F8F8F;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.about-us-mission-div {
    display: flex;
    background-color: #8F8F8F;
    height: 30%;
    width: 100%;
    margin-left: 7%;
    font-size: 24px;
}

.about-us-customers-div {
    display: flex;
    flex-direction: column;
    background-color: #8F8F8F;
    margin-left: 4%;


    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.main-content-parent-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.left-sidebar-nav-bar-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    background-color: #C2A020;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;

}


.right-sidebar-div {
    display: flex;
    flex-direction: column;
    background-color: #5A69A6;
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}


.right-sidebar-div p {
    line-height: 1.7;
    margin-left: 8px;
    margin-right: 8px;
}


.right-sidebar-div h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}