.home-wrapper-div {
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 100vh;
    width: 100vw;
}

.header-parent-div {
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 20vh;
    width: 100vw;
}

.store-logo-image-div {
    display: flex;
    background-color: purple;
    height: 20vh;
    width: 20vw;
}

.store-name-div {
    display: flex;
    align-items: center;
    justify-content: center;


    background-color: brown;
    height: 20vh;
    width: 60vw;
}

.address-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    height: 20vh;
    width: 20vw;
}


.main-content-parent-div {
    display: flex;
    background-color: aqua;
    height: 70vh;
    width: 100vw;
}


.left-side-nav-bar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    height: 70vh;
    width: 20vw;
}

.left-side-nav-bar-div p {
    text-decoration: underline;
}

.left-side-nav-bar-div a {
    text-decoration: none;
    color: inherit;
}


.product-display-div {
    display: flex;
    flex-direction: column;
    background-color: honeydew;
    height: 70vh;
    width: 60vw;
}

.product-fill-out-form-p-div {
    display: flex;
    background-color: red;
    height: 10%;
    width: 100%;
}

.product-customer-info-p-div {
    display: flex;
    background-color: yellowgreen;
    height: 10%;
    width: 100%;
}

.contact-info-parent-div {
    display: flex;
    flex-direction: column;
    background-color: mediumspringgreen;
    height: 80%;
    width: 70%;
}


.contact-first-name-div {
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 10%;
    width: 100%;
    justify-content: space-between;
}

.contact-last-name-div {
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 10%;
    width: 100%;
    justify-content: space-between;

}

.contact-email-div {
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 10%;
    width: 100%;
    justify-content: space-between;

}

.contact-phone-number-div {
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 10%;
    width: 100%;
    justify-content: space-between;

}

.contact-message-textarea {
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 50%;
    width: 100%;
    justify-content: space-between;

}

.contact-message-button-div {
    display: flex;
    background-color: blue;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;

}




.contact-message-textarea p {
    display: flex;
    align-items: center;
}













.image-right-side-div {
    display: flex;
    background-color: sienna;
    height: 70vh;
    width: 20vw;
}








