.home-wrapper-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    background-color: #8F8F8F;
}

.header-parent-div {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100vw;
    background-color: #8F8F8F;
}

.store-logo-image-div {
    display: flex;
    height: 20vh;
    width: 20vw;
}

.store-name-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 60vw;
}

.store-name-div h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
}

.address-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    font-size: 24px;
    width: 20vw;
}


.main-content-parent-div {
    display: flex;
    height: 70vh;
    background-color: #5A69A6;
    width: 100vw;
}


.left-side-nav-bar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48vh;
    width: 18.5vw;
    font-size: 24px;
    padding-top: 12%;
    background-color: #C2A020;
}

.left-side-nav-bar-div p {
    text-decoration: underline;
}

.left-side-nav-bar-div a {
    text-decoration: none;
    color: inherit;
}

.left-side-nav-bar-div p {
    text-decoration: underline;
}

.product-display-div {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 60vw;
}

.product-select-p-div {
    display: flex;
    height: 10%;
    width: 60vw;
}

.product-select-parent-div {
    display: flex;
    height: 60%;
    width: 60vw;
}

.product-select-left-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
}

.radio-p-tag-left-div {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 55%;
    justify-content: center;
    align-items: center;
    padding-left: 28%;
    font-size: 24px;
}

.img-left-div {
    display: flex;
    padding-left: 12%;
    height: 80%;
    width: 33%;
    bottom: 0;
}

.radio-p-tag-left-div p {
    margin-left: 15%;
    margin-top: 0;
}

.radio-p-tag-left-div input {
    margin-bottom: 11.5%;
}

.product-select-middle-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
}

.radio-p-tag-middle-div {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 55%;
    justify-content: center;
    align-items: center;
    padding-left: 28%;
    font-size: 24px;
}

.img-middle-div {
    display: flex;
    padding-left: 12%;
    height: 80%;
    width: 33%;
    bottom: 0;
}

.radio-p-tag-middle-div p {
    margin-left: 15%;
    margin-top: 0;
}

.radio-p-tag-middle-div input {
    margin-bottom: 11.5%;
}

.product-select-right-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
}

.radio-p-tag-right-div {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 55%;
    justify-content: center;
    align-items: center;
    padding-left: 19%;
    font-size: 24px;
}

.img-right-div {
    display: flex;
    padding-left: 15%;
    height: 80%;
    width: 33%;
    bottom: 0;
}

.radio-p-tag-right-div p {
    margin-left: 15%;
    margin-top: 0;
}

.radio-p-tag-right-div input {
    margin-bottom: 11.5%;
}

.product-add-on-parent-div {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 60vw;
}

.product-add-on-p-div {
    display: flex;
    height: 100%;
    width: 60vw;
    font-size: 32px;
    align-items: center;
    justify-content: center;
}

.product-add-on-radio-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 24px;
    width: 60vw;
    align-items: center;
    justify-content: center;
}

.product-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 60vw;
}

.product-button-div button{
    height: 80%;
    width: 30%;
    font-size: 24px;
}

.order-details-parent-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 20vw;
}

.order-summary-p-div {
    display: flex;
    height: 10%;
    width: 20vw;
    font-size: 300%;
    justify-content: center;
    align-items: center;
}

.order-details-purchase-details-div {
    display: flex;
    height: 20vh;
    width: 15vw;
    margin-left: 15%;
    font-size: 200%;
}

.order-details-product-img-div {
    display: flex;
    height: 40%;
    width: 20vw;
    margin-left: 30%;
}

.order-costs-details-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 20vw;
    font-size: 24px;
}


.order-personal-details-p-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 15vw;
    text-align: center;
    font-size: 140%;
}

.order-personal-details-p-div p {
    text-align: center;
    width: 100%;
}









