.home-wrapper-div {
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}

.header-parent-div {
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 20vh;
    width: 100vw;
}

.store-logo-image-div {
    display: flex;
    background-color: purple;
    height: 20vh;
    width: 20vw;
}

.store-name-div {
    display: flex;
    align-items: center;
    justify-content: center;


    background-color: brown;
    height: 20vh;
    width: 60vw;
}

.store-name-div h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
}

.address-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    height: 20vh;
    font-size: 24px;
    width: 20vw;
}


.main-content-parent-div {
    display: flex;
    background-color: aqua;
    height: 70vh;
    width: 100vw;
}


.left-side-nav-bar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C2A020;

    /*background-color: blueviolet;*/
    height: 48vh;
    width: 20vw;
    font-size: 24px;
    padding-top: 12%;

}

.left-side-nav-bar-div p {
    text-decoration: underline;
}

.left-side-nav-bar-div a {
    text-decoration: none;
    color: inherit;
}

.left-side-nav-bar-div p {
    text-decoration: underline;
}


.product-display-div {
    display: flex;
    flex-direction: column;
    background-color: honeydew;
    height: 70vh;
    width: 60vw;
}

.product-select-p-div {
    display: flex;
    background-color: green;
    height: 10%;
    width: 60vw;
}

.product-select-parent-div {
    display: flex;
    background-color: mediumpurple;
    height: 60%;
    width: 60vw;
}

.product-select-left-div {
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 100%;
    width: 33%;

}

.radio-p-tag-left-div {
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 20%;
    width: 33%;
    justify-content: center;
    align-items: center;
    padding-left: 28%;

}

.img-left-div {
    display: flex;
    padding-left: 12%;

    height: 80%;
    width: 33%;
    bottom: 0;
}


.radio-p-tag-left-div p {
    margin-left: 15%;
    margin-top: 0;
}

.radio-p-tag-left-div input {
    margin-bottom: 11.5%;

}




.product-select-middle-div {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    height: 100%;
    width: 33%;
}

.radio-p-tag-middle-div {
    display: flex;
    flex-direction: row;
    background-color: yellowgreen;
    height: 20%;
    width: 33%;
    justify-content: center;
    align-items: center;
    padding-left: 28%;

}

.img-middle-div {
    display: flex;
    padding-left: 12%;

    height: 80%;
    width: 33%;
    bottom: 0;
}


.radio-p-tag-middle-div p {
    margin-left: 15%;
    margin-top: 0;
}

.radio-p-tag-middle-div input {
    margin-bottom: 11.5%;

}

.product-select-right-div {

    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
}

.radio-p-tag-right-div {
    display: flex;
    flex-direction: row;
    background-color: lightseagreen;
    height: 20%;
    width: 33%;
    justify-content: center;
    align-items: center;
    padding-left: 28%;

}

.img-right-div {
    display: flex;
    padding-left: 15%;

    height: 80%;
    width: 33%;
    bottom: 0;
}


.radio-p-tag-right-div p {
    margin-left: 15%;
    margin-top: 0;
}

.radio-p-tag-right-div input {
    margin-bottom: 11.5%;

}











.product-add-on-parent-div {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    height: 20%;
    width: 60vw;
}

.product-add-on-p-div {
    display: flex;
    background-color: lightcoral;
    height: 100%;
    width: 60vw;
    font-size: 32px;
    align-items: center;
    justify-content: center;
}

.product-add-on-radio-div {
    display: flex;
    flex-direction: column;

    background-color: lightpink;
    height: 100%;
    font-size: 24px;
    width: 60vw;
    align-items: center;
    justify-content: center;
}






.product-button-div {
    display: flex;
    background-color: lightsalmon;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 60vw;
}


.product-button-div button{
    height: 80%;
    width: 30%;
    font-size: 24px;
}











.order-details-parent-div {
    display: flex;

    background-color: sienna;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 20vw;
}



.order-summary-p-div {
    display: flex;
    background-color: red;
    height: 10%;
    width: 20vw;
    font-size: 300%;
    justify-content: center;
    align-items: center;
}


.order-details-purchase-details-div {
    display: flex;
    background-color: lightgrey;
    height: 20vh;
    width: 20vw;
    font-size: 200%;


}


.order-details-product-img-div {
    display: flex;
    background-color: navajowhite;
    height: 40%;
    width: 20vw;
    margin-left: 30%;
}


.order-costs-details-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    height: 30%;
    width: 20vw;
    font-size: 24px;

}


.order-personal-details-p-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: oldlace;
    height: 10vh;
    width: 15vw;
    text-align: center;
    font-size: 140%;

}

.order-personal-details-p-div p {
    text-align: center;
    width: 100%;
}









